<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-analyzer</title>
</head>

<body>
    <h1> Text Analyzer</h1>
    
    <form action="/analyze" method="get">

        <textarea  name="text" id="" cols="30" rows="10" style="width: 1399px; height: 311px;" data-lt-tmp-id="lt-681557"
            spellcheck="false" data-gramm="false"> </textarea> <br>
        <input type="checkbox" name="removepunc"> Remove Puncutions
        <br>
        <button type="submit"> Analyse Text </button>
    </form>
</body>

</html>